body {
    background: linear-gradient(to right, #00c6ff, #007bff);
}

.card {
    border-radius: 1rem;
    background-color: #ffffff;
}

h3 {
    font-weight: bold;
}

button {
    transition: 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.05);
}

.invalid-feedback {
    display: none;
    color: #dc3545;
}
